# Main maintainers
*                               @gamingdy

# Code & Dev environment
*.py                            @gamingdy @Alessevan
pyproject.toml                  @gamingdy @Alessevan
poetry.toml                     @gamingdy @Alessevan
poetry.lock                     @gamingdy @Alessevan
compose.yaml                    @gamingdy

# RNGdle module
rngdle*.py                      @gamingdy @Alessevan @Mityno

# DB
alembic.ini                     @gamingdy @Alessevan
alembic/**                      @gamingdy @Alessevan

# CI / Dependabot
.github/dependabot.yml          @Lindwen @gamingdy @AntoineJT
.github/workflows/*             @Lindwen @gamingdy @AntoineJT

# Prod
.dockerignore                   @Lindwen @AntoineJT
compose.prod.yaml               @Lindwen @AntoineJT
Dockerfile                      @Lindwen @AntoineJT
entrypoint.sh                   @Lindwen @AntoineJT

# Doc
PRIVACY.md                      @RedsTom

# Design
resources/**                    @gamingdy @RedsTom
